<div class="inbox" ng-controller="InboxController as inbox">
  <div class="search-bar">
    <div class="inbox__count">
      You have {{ inbox.messages.length }} messages
    </div>
    <div ng-show="inbox.messages.length">
      <input type="text" class="inbox__search" ng-model="searchMessage.from" placeholder="Search by 'from', e.g. TicketMaster">
    </div>
  </div>
  <ul class="inbox__list">
    <li ng-repeat="message in inbox.messages | filter:searchMessage">
      <div class="inbox__list-info">
        <p class="inbox__list-from">From: {{ message.from }}</p>
        <p class="inbox__list-date">{{ message.date | date: 'medium' }}</p>
        <p class="inbox__list-subject">{{ message.subject }}</p>
      </div>
      <div class="inbox__list-actions">
        <a ui-sref="email({ id: message.id })">Read</a>
        <a href="#">Delete</a>
      </div>
    </li>
  </div>
</div>